/*
 * Import all top level partials here
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  background-color: #FCFCFD;
  border-radius: 15px;
  -webkit-perspective: 1px;
          perspective: 1px;
}

header li {
  display: inline;
}

header .primary-nav {
  height: 64px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 0;
  background: #f07e4a;
  color: #FCFCFD;
  border-radius: 16px;
}

header .primary-nav a:hover:after {
  background-color: transparent;
}

header .primary-nav .logo {
  padding-left: 10px;
}

header .primary-nav .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130px;
}

header .primary-nav .socials a img {
  padding-right: 10px;
}

header .primary-nav .headers ul {
  white-space: nowrap;
  margin: 0;
}

@media (max-width: 1200px) {
  header .primary-nav .headers ul {
    display: none;
  }
}

header .primary-nav .headers ul li {
  padding-right: 28px;
}

header .primary-nav .headers ul li a:hover:after {
  background-color: #FCFCFD;
}

header .primary-nav .headers ul li a {
  color: #FCFCFD;
}

header .primary-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .primary-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .primary-nav .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  header .primary-nav .right-part {
    display: none;
  }
}

header .secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  header .secondary-nav {
    padding: 20px 0;
  }
}

header .secondary-nav a:hover:after {
  background-color: transparent;
}

header .secondary-nav .links {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  header .secondary-nav .links {
    display: none;
  }
}

header .secondary-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: -5px;
}

header .secondary-nav .logo img {
  max-width: 102px;
  width: 100%;
}

header .secondary-nav a {
  margin: 25px 0 21.5px 0;
  text-decoration: none;
  color: #1C1A1E;
}

header .secondary-nav ul {
  margin: 0;
}

header .secondary-nav li {
  text-transform: uppercase;
  padding-right: 56px;
}

header .secondary-nav li a:hover:after {
  background-color: #1C1A1E;
}

.searchTool {
  position: absolute;
  right: 171px;
  border-top: none;
  top: 15px;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid #FCFCFD;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.tools .searchInput {
  display: none;
}

.tools form {
  position: relative;
}

.tools form .arrow {
  position: absolute;
  right: 0;
  top: 20%;
  width: 20px;
}

.tools form input[type="text"] {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FCFCFD;
  background-color: #FCFCFD;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tools form input[type="text"]:focus {
  outline: none;
}

.tools input::-webkit-input-placeholder {
  color: #FCFCFD;
}

.tools input:-ms-input-placeholder {
  color: #FCFCFD;
}

.tools input::-ms-input-placeholder {
  color: #FCFCFD;
}

.tools input::placeholder {
  color: #FCFCFD;
}

.tools img {
  cursor: pointer;
}

.header-tools {
  background-color: #f07e4a !important;
}

.container-one .slider {
  overflow: hidden;
  border-radius: 20px;
}

.container-one .slides {
  display: -webkit-box;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.container-one .slides::-webkit-scrollbar {
  height: 5px;
}

.container-one .slides::-webkit-scrollbar-thumb {
  background: #f07e4a;
}

.container-one .slides::-webkit-scrollbar-track {
  background: transparent;
}

.container-one .slides > div {
  scroll-snap-align: start;
  width: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.container-one .slides > div:target {
  scroll-snap-align: start;
  width: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.container-what {
  background-color: #FCFCFD;
  border-radius: 20px;
  padding: 102px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .container-what .reverse-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.container-what .question-img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 448px;
}

.container-what .text-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-what .text {
  max-width: 508px;
  width: 100%;
}

.container-what img {
  max-width: 550px;
  height: auto;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-what h1 {
  font-size: 72px;
  color: #eeeef3;
  font-weight: 200 !important;
  line-height: 80px;
}

.container-what h2 {
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.header-zero-one {
  margin-bottom: 20px;
}

.button-explore {
  position: relative;
  background-color: #f07e4a;
  max-width: 164px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px 14px 20px;
  color: #FCFCFD;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  white-space: nowrap;
}

.button-explore img {
  margin-left: 24px;
  width: 16px;
  top: 17px;
  left: 130px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-explore:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #DD6B36;
}

.button-explore:hover img {
  margin-left: 32px;
}

.button-arrow {
  background: #f07e4a;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-arrow img {
  height: 18px;
}

.button-arrow img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-arrow:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #DD6B36;
}

.button-arrow:hover img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.highlights {
  display: inline-block;
}

.highlights .header-highlights {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.highlights .header-highlights h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.highlights .header-highlights h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.highlights .header-highlights span {
  line-height: 42px;
}

.highlights .header-highlights img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.highlights .header-highlights .all-highlights {
  font-weight: 700;
  cursor: pointer;
}

.highlights .header-highlights .all-highlights:hover {
  color: #f07e4a;
}

.highlights .header-highlights .all-highlights:hover img {
  -webkit-filter: invert(69%) sepia(35%) saturate(2959%) hue-rotate(325deg) brightness(95%) contrast(98%);
          filter: invert(69%) sepia(35%) saturate(2959%) hue-rotate(325deg) brightness(95%) contrast(98%);
}

.highlights .container-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.highlights .container-half img {
  max-width: 705px;
  width: 100%;
}

.highlights .container-half .highlights-text .main-text {
  padding-bottom: 36px;
  margin: 0;
}

.highlights .container-half h5 {
  color: #f07e4a;
}

.highlights .container-half .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extended-text {
  margin: 0;
  padding-bottom: 24px;
}

footer {
  padding-top: 100px;
  background-color: #1C1A1E;
  color: #FCFCFD;
  padding-bottom: 100px;
  width: 100%;
}

footer .footer-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer a {
  color: #FCFCFD;
}

footer a:hover:after {
  background-color: #FCFCFD !important;
}

footer a:hover {
  color: #FCFCFD;
}

footer .footer-logo {
  padding-top: 1%;
}

footer h4 {
  text-transform: uppercase;
  opacity: 50%;
}

footer .footer-item ul {
  padding-left: 0;
}

footer .footer-item ul .socials {
  margin-left: -6px;
}

footer .footer-item ul .contacts {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-item ul li {
  padding-bottom: 4px;
}

footer .footer-bottom {
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom li {
  white-space: nowrap;
  padding-left: 20px;
  display: inline;
}

.footer-blog {
  margin-top: 80px;
}

.footer-news {
  margin-top: 40px !important;
}

.standart-text {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
}

.container-double .text-image {
  height: 100%;
  border-radius: 20px;
}

.container-double .text-image .text-image-inside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-double .container-half h3 {
  font-size: 24px;
  font-weight: 700;
}

.container-double .container-half h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.container-double .container-half p {
  font-weight: 400;
  line-height: 24px;
}

.container-double .container-half .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-double .container-half .img img {
  border-radius: 20px;
}

.container-double .container-half .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container-double .container-half .bottom-part {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-double .container-half .bottom-part ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu {
  display: none;
}

@media (max-width: 1200px) {
  .burger-menu {
    display: block;
  }
}

.burger-menu img {
  height: 25px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bm-menu {
  color: #FCFCFD;
  background-color: #FCFCFD;
  position: fixed;
  right: -10px;
  padding-top: 30px;
  z-index: 100;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0%;
  border-style: solid;
}

.bm-menu a {
  color: #FCFCFD;
  white-space: nowrap;
}

.bm-menu a:hover:after {
  background-color: #FCFCFD;
}

.bm-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bm-menu-active {
  border-style: solid;
  width: 250px;
  border-radius: 25px 0px 0 25px;
  border-color: #FCFCFD;
  background-color: #f07e4a;
  border-width: 3px 0em 3px 3px;
  height: 100vh;
  display: block;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bm-menu-active input {
  background-color: #f07e4a !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-subscribe button {
  padding: 10px;
  text-transform: uppercase;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #f07e4a;
  border: none;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  max-width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.button-subscribe button .inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.button-subscribe button .inner span {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 25px;
}

.button-subscribe button:hover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-subscribe button:hover .marquee {
  position: relative;
  overflow: hidden;
}

.button-subscribe button:hover .marquee .inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(calc(-25% + 64%), 0, 0);
          transform: translate3d(calc(-25% + 64%), 0, 0);
  -webkit-animation: marquee 2s linear infinite;
          animation: marquee 2s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.button-subscribe button:hover .marquee .inner span {
  margin-right: 25px;
}

@-webkit-keyframes marquee {
  100% {
    -webkit-transform: translate3d(calc(-25% + 64%), 0, 0);
            transform: translate3d(calc(-25% + 64%), 0, 0);
  }
  0% {
    -webkit-transform: translate3d(calc(-50% + 64%), 0, 0);
            transform: translate3d(calc(-50% + 64%), 0, 0);
  }
}

@keyframes marquee {
  100% {
    -webkit-transform: translate3d(calc(-25% + 64%), 0, 0);
            transform: translate3d(calc(-25% + 64%), 0, 0);
  }
  0% {
    -webkit-transform: translate3d(calc(-50% + 64%), 0, 0);
            transform: translate3d(calc(-50% + 64%), 0, 0);
  }
}

.events .report {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.events .report a {
  text-transform: uppercase;
  color: #f07e4a;
}

.events .report a:hover:after {
  background-color: #f07e4a;
}

.events .date {
  font-size: 12px;
  margin-right: 78px;
  font-weight: 400;
  line-height: 16px;
}

.events .name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.details {
  line-height: 24px;
}

.news-details {
  margin-bottom: 28px;
}

.orange-text {
  margin-bottom: 0;
  color: #f07e4a;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.small-text {
  margin-bottom: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.hr-styles {
  border: 1px solid #EEEEF3 !important;
  background-color: #EEEEF3;
  margin: 32px 0;
}

.hr-first {
  margin-top: 56px !important;
}

.before-footer {
  background-color: #EEEEF3;
  border: 1px solid #EEEEF3;
  margin-bottom: 128px;
}

.before-events-hr {
  margin-bottom: 100px;
  margin-top: 128px;
}

.breadcrumbs {
  margin-bottom: 32px;
}

.breadcrumbs a {
  color: #1C1A1E;
  opacity: 50%;
  white-space: nowrap;
}

.article-small {
  border-bottom: 1px solid #eeeef3;
  border-right: none !important;
}

.article .article-image {
  margin-bottom: 20px;
}

.article .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article .text p {
  font-size: 12px;
  line-height: 18px;
}

.article h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.article h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
}

.article p {
  font-size: 16px;
}

.article .info {
  text-transform: uppercase;
}

.article .info .logo img {
  border-radius: 12px;
}

.article .info ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article a {
  color: #1C1A1E;
}

.article .image-in-text {
  margin: 80px 0;
}

@media (max-width: 575px) {
  .article .image-in-text {
    width: 100%;
  }
}

.article .image img {
  border-radius: 12px;
}

@media (max-width: 575px) {
  .article .image img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.article .main-image img {
  border-radius: 16px;
  max-width: 1500px;
  width: 100%;
}

.article .content-article {
  margin-top: -125px;
  max-width: 750px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article .content-article .header-article .header {
  padding-right: 64px !important;
  -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
  background-color: #FCFCFD;
  border-radius: 12px;
}

@media (max-width: 991px) {
  .article .content-article .header-article .header {
    padding-right: 0px !important;
  }
}

.article .content-article .header-article .header h2 {
  font-size: 32px;
  line-height: 38px;
}

.article .content-article .annotation {
  margin-bottom: 56px;
  -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
  background-color: #FCFCFD;
  border-radius: 12px;
}

.article .content-article .annotation .none-decoration {
  text-decoration: none;
}

.article .content-article .annotation .none-decoration h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.article .content-article .annotation ul li:hover {
  opacity: 100%;
}

.article .content-article .annotation ul li {
  font-size: 14px;
  opacity: 80%;
}

.article .content-article .annotation ul li a:after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0%;
  color: white;
  width: 100%;
  background-color: black;
}

.article .text-article ul {
  list-style-type: inherit;
}

.tags {
  margin-bottom: 40px;
}

.tags ul {
  padding: 0;
}

.tags ul li:hover {
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f07e4a;
  border: 1px solid #f07e4a !important;
}

.tags ul li:hover a {
  color: #FCFCFD !important;
}

.tags ul li:focus a {
  border-color: red;
}

.tags ul li {
  cursor: pointer;
  font-family: Nunito;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #eeeef3;
  display: inline;
}

.tags ul li a {
  color: #1C1A1E;
  padding: 2px 8px;
}

.tags ul li a:hover:after {
  width: 0%;
  border: none;
}

.related-articles .article {
  padding: 0 24px;
  border-right: 1px solid #eeeef3;
}

.closeOpenButton {
  background-color: #FCFCFD;
  border: none;
}

.right-side img {
  cursor: pointer;
}

.paggination ul li {
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
}

.paggination ul li:hover {
  color: #FCFCFD;
  background-color: #f07e4a;
}

.hr-blog-tags {
  margin-bottom: 40px;
}

.tags-header {
  font-family: Nunito;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.active-tag {
  border: 1px solid black !important;
}

.list-article {
  margin-bottom: 42px;
}

.news-margin {
  margin-bottom: 32px;
}

.margin-before-img {
  margin-bottom: 80px;
}

.conclusion {
  margin-bottom: 40px;
}

.footer-article {
  margin-top: 28px;
}

.hr-before-articles {
  margin-bottom: 40px;
}

.dot-list {
  white-space: nowrap;
}

.dot-list ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 576px) {
  .dot-list ul {
    list-style-type: none;
  }
}

.dot-list ul .none-style-li {
  list-style-image: none !important;
  list-style-type: none;
  margin-left: 0px;
}

.dot-list ul .views span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dot-list ul .views img {
  width: 8px;
}

.dot-list ul li {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 5px;
  list-style-image: "../../images/li-dot.svg";
  margin-left: 25px;
}

@media (max-width: 576px) {
  .dot-list ul li {
    margin-left: 0px;
  }
}

.related-articles .related-articles-inside .image img {
  border-radius: 16px;
}

.footer-news {
  margin-top: 32px;
}

.footer-news .load-more {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  background-color: #f07e4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FCFCFD;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.footer-news .load-more img {
  position: absolute;
  width: 18px;
  top: 19px;
  left: 125px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.footer-news .load-more:hover {
  background-color: #DD6B36;
}

.footer-news .load-more:hover img {
  left: 130px;
}

html {
  font-size: 16px;
}

body {
  background-color: #F8F9FA;
  text-decoration: none;
  font-family: 'Nunito' !important;
  margin: auto;
}

body a {
  position: relative;
}

body a:after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0%;
  color: white;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

body a:hover:after {
  width: 100%;
  background-color: black;
}

body ul {
  list-style-type: none;
}

main {
  max-width: 1500px;
  width: 100%;
}

main h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

hr {
  border: 1px solid #EEEEF3 !important;
  background-color: #EEEEF3;
  width: 100%;
}
