/*
 * Import all top level partials here
 */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import "./base/variables";
@import "./base/_base.scss";
@import "./sections/_header.scss";
@import "./sections/carousel";
@import "./sections/_container-what";
@import "./sections/_button-explore";
@import "./sections/button-arrow";
@import "./sections/highlights";
@import "./sections/_footer.scss";
@import "./texts/standart";
@import "./sections/container-double";
@import "./sections/burger-menu";
@import "./sections/button-subscribe";
@import "./sections/_events";
@import "./sections/article";
@import "./sections/dot-list";
@import "./sections/related-articles";
@import "./sections/our-news";

html {
  font-size: 16px;
  
}
body {
  background-color: $background;
  text-decoration: none;
  font-family: 'Nunito' !important;
  margin: auto;
  a {
    position: relative;
  }
  a:after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 1px;
    margin: 0 auto;

    left: 0;
    right: 0;
    width: 0%;
    color: white;

    transition: all ease-in-out 0.3s;
  }
  a:hover:after {
    width: 100%;
    background-color: black;
  }
  ul {
    list-style-type: none;
  }
}

main {
  h2 {
    font-size: 48px;

    font-weight: 700;
    line-height: 56px;
  }
  max-width: 1500px;
  width: 100%;
}

hr{
  border: 1px solid #EEEEF3 !important;
  background-color: #EEEEF3;
  width: 100%;
}

