/*
 * Import all top level partials here
 */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import "base/variables";
@import "base/_base.scss";
@import "sections/_header.scss";
@import "sections/_container-what";
@import "sections/_button-explore";
@import "sections/_footer.scss";
@import "texts/standart";
@import "sections/container-double";
@import "sections/burger-menu";

body {
  background-color: $background;
  text-decoration: none;

  margin: auto;
  a {
    position: relative;
    
  }
  a:after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 1px;
    margin: 0 auto;
    
    left: 0;
    right: 0;
    width: 0%;
    color: white;


    transition: all ease-in-out .2s;
   
  }
  a:hover:after {
    width: 100%;
    background-color: black;
  }
  ul {
    list-style-type: none;
  }
}

main {
  max-width: 1500px;
  width: 100%;
}
