$orange : #f07e4a;
$background : #F8F9FA;
$white : #FCFCFD;
$black : #1C1A1E;
$gray : #EEEEF3;
$orange-hover : #DD6B36;
$purple : #91268F;

$font-family : 'Nunito' sans-serif; 
//line-height
$content-line-height: 24px; 
$headers-line-height: 28px;
//font-sizes
$default-font-size : 16px;
$headers-font-size : 24px;
$small-font-size: 12px;
//font-weight
$font-weight-bold : 700;
$font-weight-default : 400;

