.breadcrumbs {
  margin-bottom: 32px;
  .none-style-li {
  }
  a {
    color: $black;
    opacity: 50%;
    white-space: nowrap;
  }
}
.article-small {
  border-bottom: 1px solid #EEEEF3;
  border-right: none !important;
}
.article-small-news{
  
}
.article {
  .article-image{
    margin-bottom: 20px;
  }
  .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  h4 {
    font-size: $default-font-size;
    font-weight: 700;
    line-height: 20px;
  }
  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: $headers-line-height;
  }
  p {
    font-size: $default-font-size;
  }
  .info {
    text-transform: uppercase;
    .logo {
      img {
        border-radius: 12px;
      }
    }

    ul {
      align-items: center;
    }
  }
  a {
    color: $black;
  }
  .image-in-text{
    margin:80px 0;
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  .image {
   

    img {
      @media (max-width: 575px) {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      border-radius: 12px;
    }
  }
  .main-image {
    img {
      border-radius: 16px;
      max-width: 1500px;
      width: 100%;
    }
  }
  .content-article {
    margin-top: -125px;
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    .header-article {
      .header {
        padding-right: 64px !important;
        @media (max-width: 991px) {
          padding-right: 0px !important;
        }
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
        h2 {
          font-size: 32px;
          line-height: 38px;
        }
        background-color: $white;
        border-radius: 12px;
      }
    }
    .annotation {
      margin-bottom: 56px;
      box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
      background-color: $white;
      border-radius: 12px;
      .none-decoration {
        h5 {
          text-transform: uppercase;
          font-size: 14px;

          font-weight: 700;
        }
        text-decoration: none;
      }
      ul {
        li:hover {
          opacity: 100%;
        }
        li {
          font-size: 14px;
          opacity: 80%;

          a:after {
            position: absolute;
            content: "";
            height: 1px;
            bottom: 3px;
            margin: 0 auto;

            left: 0;
            right: 0;
            width: 0%;
            color: white;
            width: 100%;
            background-color: black;
          }
        }
      }
    }
  }
  .text-article {
    ul {
      list-style-type: inherit;
    }
  }
}

.tags {
  margin-bottom: 40px;
  ul {
    padding: 0;
    li:hover {
      border-radius: 2px;
      transition: 0.3s;
      background-color: $orange;
      border: 1px solid $orange;
       
      a{
        color: $white !important;
      }
    }
    li:focus  {
      a{
        border-color: red;    
      }
      
    }
  }
  ul li {
    cursor: pointer;
    font-family: Nunito;
    font-size: 14px;
   
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid #eeeef3;
    
    display: inline;
    a{
      color: $black;
      padding: 2px 8px;
      
      
        
      
    }
    a:hover:after{
      width: 0%;
      border: none;
    }
  }
}

.related-articles {
  .article {
    padding:0 24px;
    border-right: 1px solid #eeeef3;
  }
}

.closeOpenButton {
  background-color: $white;
  border: none;
}

.right-side {
  img {
    cursor: pointer;
  }
}

.paggination{
  
  ul{
    
    li{
      background-color: white;
border-radius: 8px;
cursor: pointer;
padding: 6px 12px;
    }
    li:hover{
      
      color: $white;
      background-color: $orange;
    }
  }
}
.hr-blog-tags{
  margin-bottom: 40px;
}
.tags-header{
  font-family: Nunito;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
.active-tag{
  border: 1px solid black !important;
  
}

.list-article{
  margin-bottom: 42px;
}

.news-margin{
  margin-bottom:32px ;
}

.margin-before-img{
  margin-bottom: 80px;
}

.conclusion {
  margin-bottom: 40px;
}

.footer-article{
  margin-top: 28px;
}
.hr-before-articles{
  margin-bottom: 40px;
}