.burger-menu{
    display: none;
        @media (max-width: 1024px){
            display: block;
        }
    
    img{
        height: 25px;
        filter: invert(100%);
    }
  }
.bm-menu{
    color: $orange;
    background-color: $white;
    
    position: absolute;
    right: -300px;
    ul{
        display: flex;
    flex-direction: column;
    }
    
    height: 15em;
    padding-top :30px;
    z-index: 100;
    
    transition: 2s;
    
}

.bm-menu-active{
    
    z-index: 100;
    height: 300px;
    transition: 1s;
    right: 00px;
}