.button-arrow{
    background: $orange;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        height: 18px;
        transform: rotate(-50deg);
    }
    
}
.button-arrow:hover{
    transition:0.5s;
    background-color: $orange-hover;
    
    img{
        transition:0.5s;
        transform: rotate(0);
    }
}