.button-arrow {
  img {
    height: 18px;
  }
  background: $orange;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transform: rotate(-50deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  img{
    transition: 0.3s;
  }
  
}
.button-arrow:hover {
  transition: 0.3s;
  background-color: $orange-hover;
  img {
    transition: 0.3s;
    transform: rotate(50deg);
  }
}
