.button-explore {
 position: relative;
  background-color: $orange;
  min-width: 164px;
  display: flex;
  padding: 14px 20px 14px 20px;
  color: $white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  img{
    position: absolute;
    width: 18px;
    top: 19px;
    left: 125px;
    transition: left 1s;
  }
}

.button-explore:hover{
  img{
    left: 130px;
  }
  background-color: $orange-hover;
}