.container-double {
  
.text-image{
  border-radius: 20px;
  
}  
  .container-half {
    margin-bottom: 128px;
    
    
    
    
    .img {
      display: flex;
      justify-content: center;
    }
    .text{
        text-align: center;
        
    }

    
   
  }
  .container-one {
    //margin-right: 4em;
  }
  
  
}
