.container-what {
  
  background-color: $white;
  border-radius: 20px;
  padding: 102px 0;
  flex-wrap: wrap;
  .question-img{
    img{
      display: flex;
      justify-content: center;
      max-width: 448px;
    }
   
  }
  .text-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .text{
    
    padding-top: 20px;
    max-width: 508px;
    width: 100%;
  }
 img{
  max-width: 550px;
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 }
  h1 {
    font-family: Nunito;
    font-size: 72px;
    color: #eeeef3;
    font-style: normal;
    font-weight: 200;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
  }
  h2 {
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
}
