.container-double {
  display: flex;
  
  .container-half {
    margin-bottom: 128px;
    background-color: $white;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .img {
      display: flex;
      justify-content: center;
    }
    .text{
        text-align: center;
        
    }
    border-radius: 20px;
    
    width: 50%;
  }
  .container-one {
    //margin-right: 4em;
  }
  border-radius: 20px;
  display: flex;
}
