.events {
  .report {
    margin-right: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    a {
      text-transform: uppercase;
      color: $orange;
    }
    a:hover:after {
      background-color: $orange;
    }
  }
  .date {
    font-size: 12px;
    margin-right: 78px;
    font-weight: 400;
    line-height: 16px;
  }
  .name {
    
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.details {
  line-height: $content-line-height;
}
.news-details{
  margin-bottom: 28px;
}

.orange-text {
  margin-bottom: 0;
  color: $orange;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.small-text {
  margin-bottom: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.hr-styles{
  border: 1px solid #EEEEF3 !important;
  background-color: #EEEEF3;
  margin: 32px 0 ;
}
.hr-first{
  margin-top: 56px !important;
}
.before-footer{
  background-color: #EEEEF3;
  border: 1px solid #EEEEF3;
  margin-bottom: 128px;
}
.before-events-hr{
  margin-bottom: 100px;
  margin-top: 128px;
}