$offset: 64%;
$move-initial: calc(-25% + #{$offset});
$move-final: calc(-50% + #{$offset});

header {
  margin: 0;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  li {
    display: inline;
  }
  overflow: hidden;
  .primary-nav {
    
    a:hover:after {
      background-color: transparent;
    }
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
    .logo {
      padding-left: 10px;
    }
    .socials {
      display: flex;

      margin-right: 130px;
      a {
        img {
          margin: 5px 0 0 0;
          padding-right: 10px;
        }
      }
    }
    .headers {
      ul {
        @media (max-width: 1024px) {
          display: none;
        }
        white-space: nowrap;
        margin: 0;
        li {
          a:hover:after {
            background-color: $white;
          }
          padding-right: 28px;
          a {
            color: $white;
          }
        }
      }
    }
    nav {
      display: flex;
    }
    .logo {
      display: flex;
    }
    background: $orange;
    color: $white;
    border-radius: 16px;
    .right-part {
      @media (max-width: 1024px) {
        display: none;
      }
      display: flex;
      .tools {
        display: flex;
        flex-direction: row;
        form {
          display: flex;
          position: relative;
          display: none;
          .arrow {
            position: absolute;
            right: 0;
            top: 30%;
            width: 15px;
          }
          input[type="text"] {
            font-family: Nunito;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
            background-color: $orange;
            border: none;
            border-bottom: 2px solid $white;
          }
        }

        input::placeholder {
          color: $white;
        }
        margin-right: 15px;
        img {
          cursor: pointer;
        }
      }

      button {
        padding: 10px;
        text-transform: uppercase;
        font-family: Nunito;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-align: left;

        color: $orange;
        border: none;
        border-radius: 50px;
        background-color: white;
        cursor: pointer;
        max-width: 88px;
        .inner {
          width: fit-content;
          display: flex;
          position: relative;
          span {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-right: 25px;
          }
        }

        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 0;
        margin: 0;
      }
      button:hover {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .marquee {
          position: relative;
          overflow: hidden;

          .inner {
            width: fit-content;
            display: flex;
            position: relative;
            transform: translate3d($move-initial, 0, 0);
            animation: marquee 2s linear infinite;
            animation-play-state: running;

            span {
              margin-right: 25px;
            }
          }
        }

        @keyframes marquee {
          100% {
            transform: translate3d($move-initial, 0, 0);
          }

          0% {
            transform: translate3d($move-final, 0, 0);
          }
        }
      }
    }
  }
  background-color: $white;
  border-radius: 15px;
  perspective: 1px;
  .secondary-nav {
    @media (max-width: 1024px) {
      padding: 20px 0;
    }
    a:hover:after {
      background-color: transparent;
    }
    .links {
      @media (max-width: 1024px) {
        display: none;
      }
      margin: 15px 0;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 120px;
    }

    .logo {
      display: flex;
      align-items: center;
      padding-left: 15px;
      margin-bottom: -5px;
    }
    a {
      text-decoration: none;
      color: $black;
    }

    display: flex;
    justify-content: center;
    border-radius: 16px;
    ul {
      margin: 0;
    }
    li {
      a:hover:after {
        background-color: $black;
      }
      text-transform: uppercase;
      padding-right: 56px;
    }
  }
}
