$offset: 64%;
$move-initial: calc(-25% + #{$offset});
$move-final: calc(-50% + #{$offset});

header {
  margin: 0;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  li {
    display: inline;
  }
  overflow: hidden;
  .primary-nav {
    a:hover:after {
      background-color: transparent;
    }
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
    .logo {
      padding-left: 10px;
    }
    .socials {
      display: flex;

      margin-right: 130px;
      a {
        img {
          padding-right: 10px;
        }
      }
    }
    .headers {
      ul {
        @media (max-width: $buger-disaply-width) {
          display: none;
        }
        white-space: nowrap;
        margin: 0;
        li {
          a:hover:after {
            background-color: $white;
          }
          padding-right: 28px;
          a {
            color: $white;
          }
        }
      }
    }
    nav {
      display: flex;
    }
    .logo {
      display: flex;
    }
    background: $orange;
    color: $white;
    border-radius: 16px;
    .right-part {
      @media (max-width: $buger-disaply-width) {
        display: none;
      }

      display: flex;
    }
  }
  background-color: $white;
  border-radius: 15px;
  perspective: 1px;
  .secondary-nav {
    @media (max-width: $buger-disaply-width) {
      padding: 20px 0;
    }
    a:hover:after {
      background-color: transparent;
    }
    .links {
      @media (max-width: $buger-disaply-width) {
        display: none;
      }
      margin: 15px 0;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-right: 120px;
    }

    .logo {
      display: flex;
      align-items: center;
      padding-left: 15px;
      margin-bottom: -5px;
    }
    a {
      text-decoration: none;
      color: $black;
    }

    display: flex;
    justify-content: center;
    border-radius: 16px;
    ul {
      margin: 0;
    }
    li {
      a:hover:after {
        background-color: $black;
      }
      text-transform: uppercase;
      padding-right: 56px;
    }
  }
}

.tools {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $white;
  border: none;
  align-items: center;
  .searchInput {
    display: none;
    
  }

  form {
    
    position: relative;

    .arrow {
      position: absolute;
      right: 0;
      top: 20%;
      width: 20px;
    }
    input[type="text"] {
      &:focus {
        outline: none;
      }
      font-family: Nunito;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      background-color: $orange;
      border: none;
    }
  }

  input::placeholder {
    color: $white;
  }
  margin-right: 15px;
  img {
    cursor: pointer;
  }
}
