.highlights {
 display: inline-block;
  .container-half {
    margin-bottom: 0px !important;
  }
  .header-highlights {
   h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    
   }
    span{
      line-height: 42px;
      
    }
    
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    img {
      filter: invert(1);
    }
    .all-highlights {
      
      font-weight: 700;
      cursor: pointer;
    }

    .all-highlights:hover {
      color: $orange;
      img {
        filter: invert(69%) sepia(35%) saturate(2959%) hue-rotate(325deg)
          brightness(95%) contrast(98%);
      }
    }
  }

  .container-half {
    img {
      max-width: 705px;
      width: 100%;
    }
    display: flex;
    flex-direction: column !important;

    .highlights-text {
      .main-text{
        padding-bottom: 36px;
        margin: 0
      }
    }
    h5 {
      color: $orange;
    }
    .bottom-part {
      display: flex;
      justify-content: space-between;
    }
  }
}

.extended-text{
  margin: 0;
  padding-bottom: 24px;
} 