.highlights{
    .container-half{
        margin-bottom: 0px !important;
    }
    .header-highlights{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        img{
            filter: invert(1);
            
        }
        .all-highlights{
            cursor: pointer;
        }
        
           
        .all-highlights:hover{
            color:$orange;
            img{
                filter: invert(69%) sepia(35%) saturate(2959%) hue-rotate(325deg) brightness(95%) contrast(98%);
        
            }
        }
    }
    
    .container-half{
        display: flex;
    flex-direction: column !important;
    padding: 24px;
    .highlights-text{
     padding-right: 76px;   
    }
    h5{
        color:$orange;
    }
    .bottom-part{
        display: flex;
        justify-content: space-between;
        ul{
            margin: 0;
            padding: 0;
                display: flex;
                flex-direction: row;
            
        }
    }
    
    }
}