.footer-news {
  .load-more {
    position: relative;
    background-color: $orange;
    min-width: 164px;
    display: flex;
   padding: 14px 28px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: $white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    img {
      position: absolute;
      width: 18px;
      top: 19px;
      left: 125px;
      transition: left 0.3s;
    }
  }
  .load-more:hover {
    img {
      left: 130px;
    }
    background-color: $orange-hover;
  }
}
